body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: rgb(92, 93, 181);
  padding: 10px;
  border: 1px solid slategray;
  border-radius: 2 px;
  max-width: 100%;
  color: aliceblue;
  font-size: 18px;
  transition: 500ms;
  -webkit-tap-highlight-color: transparent;
}
